.container-cont {
    margin-top: 10px;
    margin-bottom: 10px;
}
.red {
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: red;
    height: 15px;
    width: 15px;
    color: blue;
    padding: 3px;
}
.icon {
    height: 20px;
    width: 20px;
}
.btn-editar {
    margin-bottom: 15px;
}